/* == SCSS Notes ============================================================================================================================================== 
 * 
=== / SCSS Notes ==============================================================================================================================================*/
    
    @use "sass:math";
    @import 'core/mixins';
    @import 'core/base';
    @import 'core/normalize';
    
//= Шрифты по-умолчанию ===================================================================================================================
    //@import 'fonts.scss';
    //&display=swap 
    @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Philosopher:700&display=swap");

    $fontFamily: 'Roboto';      // Семейство шрифта по-умолчанию
    $fontFamily2: 'Philosopher';
    $fontSize: rem(16);         // Размер шрифта по-умолчанию
    $mainColor: #150C01;      // Цвет шрифта по-умолчанию
    $textCol1: #5B554D; 
//= Цвета темы ==============================================================================================================    
    $themeTextColor: #150C01;
    $themeColor: #DC780B;
    $themeColorHover: #ff8c10;
    $themeFooterBg: #252525;
    $themeFooterTitleColor: #ffffff;
    $themeFooterLinkColor: rgba(255, 255, 255, 0.7);
    $themeBlockBg1: rgba(251, 241, 231, 0.4);
    $themeContactsBg: rgba(220, 119, 11, 0.1);

//= Основные настройки =========================================================================================================
    $minWidth: 375;            // Минимальная ширина сайта         
    $maxWidth: 1440;           // Максимальная ширина сайта

    $containerPadding: 15;     // Внутренний отступ контейнера
    $containerMaxWidth: 1170;   // Максимальная ширина контейнера

    $scrollBehavior: smooth;   // Прокрутка по якорям: smooth - мягкая / initial - по-умолчанию ()


//= Медия-запросы =============================================================================================================================
    $md1: $containerMaxWidth + $containerPadding * 2;    $md4: 479.98; 
    $md2: 991.98;                                        $md5: 374.98;   
    $md3: 767.98;                                        $md6: 320;


//= Анимация и переходы ================================================================================================================
    $transition: 0.3s ease 0s;
    $transition_delay: 0.3s ease 0.3s;


//= Bootstrap колонки =======================================================================================================================
    $col1: calc(100% / 12 * 1);
    $col2: calc(100% / 12 * 2);
    $col3: calc(100% / 12 * 3);
    $col4: calc(100% / 12 * 4);
    $col5: calc(100% / 12 * 5);
    $col6: calc(100% / 12 * 6);
    $col7: calc(100% / 12 * 7);
    $col8: calc(100% / 12 * 8);
    $col9: calc(100% / 12 * 9);
    $col10: calc(100% / 12 * 10);
    $col11: calc(100% / 12 * 11);
    $col12: calc(100% / 12 * 12);

//===========================================================================================================================================
//= Библиотеки ===================================================================================================================================
    @import 'libs/swiper-7.3.1.scss';
    @import 'libs/wow.min.scss';

//= Core 
    @import 'core/core';      // Ядро 
    //@import 'core/popup';   // Попапы 
    
    //@import 'ui';           // Элемены пользовательского интерфейса


//= Компоненты проекта ===================================================================================================
    @import '_header';
    @import '_elems';
    @import '_baner';
    @import '_features';
    @import '_about';
    @import '_menu';
    @import '_take-away';
    @import '_feedbacks';
    @import '_contacts';
    @import '_footer';
    
//==========================================================================
.test {
    padding: 0 0 0 30px;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
    &__item {
        margin: 15px 0;
    }
}